{% extends 'base.html' %}
{% block page_title %}
<h1 class="m-0 text-dark"> <small> Home</small></h1>
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                          New
                        </div>
                      </div>

                        <p class="card-text">
                          <h1>Thanks for visiting! Come back soon!</h1>
                        </p>

                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock main_content %}
<!-- /.content -->
