{% extends 'base.html' %}
{% block page_title %}
<!-- <h1 class="m-0 text-dark"> <small> Home</small></h1> -->
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Sign Up</h3>
          </div>
        <form method="POST" class="form-group">
            <div class="card-body">
              {{ form.as_p}}
              {% csrf_token %}
            </div>
            <div class="card-footer">
              <input type="submit" value="Sign Up" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
{% endblock main_content %}
<!-- /.content -->
